.dvt
.project
.vscode
dvt_build.log

hw/asic/pr/*.bin
hw/asic/pr/.cadence
hw/asic/pr/*.cmd
hw/asic/pr/ecoTimingDB
hw/asic/pr/*.log*
hw/asic/pr/.mtm_riscv_chip*
hw/asic/pr/results_pr
hw/asic/pr/saved
hw/asic/pr/timingReports

hw/asic/synth/genus.cmd*
hw/asic/synth/genus.log*
hw/asic/synth/genus_synth.*
hw/asic/synth/LEC
hw/asic/synth/reports
hw/asic/synth/results
hw/asic/synth/.rs_*.tstamp
hw/asic/synth/rtl/*.log
hw/asic/synth/rtl/netlist.sv
hw/asic/synth/rtl/src_file_list.txt
hw/asic/synth*.swp

hw/power_analysis/*.cmd
hw/power_analysis/*.log
hw/power_analysis/*.logv
hw/power_analysis/reports
hw/power_analysis/*.rpt
hw/power_analysis/*.slk.gz

hw/rtl/soc/memories/boot_mem.sv

hw/sim/functional/dump_memory_*
hw/sim/functional/led_waves.txt
hw/sim/functional/seed.*
hw/sim/functional/simcompare.log
hw/sim/functional/.simvision/
hw/sim/functional/simvision*.diag
hw/sim/functional/*.svcf
hw/sim/functional/*.swp
hw/sim/functional/TS1N40LPB4096X32M4M_initial.cde
hw/sim/functional/waves.shm/
hw/sim/functional/xcelium.d/
hw/sim/functional/xrun.history
hw/sim/functional/xrun.key
hw/sim/functional/xrun.log*

hw/sim/post_layout/dump_memory*
hw/sim/post_layout/led_waves.txt
hw/sim/post_layout/*.log
hw/sim/post_layout/mtm_riscv_chip.sdfcmd
hw/sim/post_layout/mtm_riscv_chip.sdf.gz.X
hw/sim/post_layout/mtm_riscv_chip_sdf.log
hw/sim/post_layout/mtm_riscv_chip.tcf
hw/sim/post_layout/mtm_riscv_chip.tcf.gz
hw/sim/post_layout/reports
hw/sim/post_layout/seed.*
hw/sim/post_layout/TS1N40LPB4096X32M4M_initial.cde
hw/sim/post_layout/xcelium.d
hw/sim/post_layout/xrun.key
hw/sim/post_layout/xrun.log.*

sw/build
